/*HEADER*/
.masthead {
    background-position: center;
    background-image: url(../images/RadiantBanner.jpg) ;
}

.masthead h1 {
    -webkit-text-fill-color: white;
    color: rgba(255,255,255,1);
}

/*UPCOMING SHOWS*/
#showDates .row div p:last-child {
    margin-bottom: 0;
}

@media (max-width: 770px) {
    #mainNav > div > a {
        width: 70%;
    }
}


