
/*HEADER*/
#Header {
    background-color: black;
    min-height: 20em;
    padding-top: 11em;
}


/*MERCH*/
#merch div div > p:nth-child(2) {
    margin-top: 1em;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #merch div div a > img {
        width: 80%;
    }
}

