/*NAV BAR*/
#mainNav .navbar-toggler {
    color: mediumpurple;
    border: 1px solid mediumpurple;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(147, 112, 219, 0.5);

}

#socialMedia > a svg {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

/*Desktop i guess?*/
@media (min-width: 992px) {
    #mainNav {
        background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    #mainNav .nav-link {
        color: white;
    }
}

/*FOOTER*/
#socialMedia > p {
    font-size: 1.5em;
    margin: 0.5em 0 0 0;
}

@media (max-width: 770px) {
    #mainNav > div > a {
        width: 70%;
    }
}
